/* Import fonts
-------------------------------------------------- */
@import "font/stylesheet.css";

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

h1, p {
  color: white;
}

h1 {
  font-size: 5em;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}

a.navbar-brand {
  font-family: 'urw_din_semicondregular', Arial, sans-serif;
  font-weight:normal;
  letter-spacing: 1px;
}

.gradient-bk {
  background: linear-gradient(-45deg, #000000, #111010, #0C0B0B, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.f-text {
    opacity: .2;
    font-family: 'urw_din_semicondregular', Arial, sans-serif;
    font-weight:normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.f-bottom {
  position: fixed;
  bottom: 0;
  z-index: 1020;
}
.m-text p {
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'urw_din_semicondregular', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 10px;
}
